<a href="https://colab.research.google.com/github/2002-02-03/operator/blob/main/loop%20Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#q1 Print number from 1 to 5 using a while loop.

i = 1
while(i<=5):
  print(i)
  i = i+1

1
2
3
4
5

In [ ]:
# q2 Calclate the sum of number from 1 to 10 using a while loop.
i =1
while (i<=10):
  print(i+(i+1))
  i = i+1

3
5
7
9
11
13
15
17
19
21

In [ ]:
#q3 1Cal1clate the factorial of a number using a for loop.

num = int(input("enter the number : "))
f = 1
for i in range(num,0,-1):
  f *= i
print(f)

enter the number : 5
120

In [ ]:
#q4 Count the number of vowel in a string using a for loop.

string = "ramjane"
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

3

In [1]:
#q5  Print a pattern using neted loop.

rows = 6
for i in range(rows):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
#q6 Generate a mltiplication table using neted loop.

num = int(input("enter the number"))

colum = 10
for i in range(1 , num+1):
  for j in range(1,colum+1):
    print(i*j)

enter the number5
1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50