<a href="https://colab.research.google.com/github/2002-02-03/operator/blob/main/operatorassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#q1 Calculate the sum, difference, product, and quotient of two numbers.

num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))
sum = num1+num2
difference = num1-num2
product = num1*num2
quotient = num1/num2
print(sum)
print(difference)
print(product)
print(quotient)

enter the first number12
enter the second number5
17
7
60
2.4

In [ ]:
#q2 Perform various assignment operations on a variable.

num1 = int(input("enter the first number ="))
num2 = int(input("enter the second number ="))
sum = num1+num2
difference = num1-num2
product = num1*num2
div = num1/num2
mod = num1%num2
floor_div = num1//num2
expo = num1**num2
print(sum)
print(difference)
print(product)
print(div)
print(mod)
print(floor_div)
print(expo)

enter the first number =15
enter the second number =10
25
5
150
1.5
5
1
576650390625

In [ ]:
#q3 Compare two numbers and print the results.
num1 = int(input("enter the first number ="))
num2 = int(input("enter the second number ="))
if num1 == num2:
  print("both number are equal to")
else:
  print("not equal to")
if num1>num2:
  print("number first grether thansecond")
else:
  print("number first less than second")

enter the first number =5
enter the second number =7
not equal to
number first less than second

In [ ]:
#q4 Check conditions using logical operators.

num1 = int(input("enter the first number ="))
#num2 = int(input("enter the second number ="))

print(num1 > 5 and num1 < 15)
print(num1 >3 or num1 < 4)
print(not(num1 >3 and num1 < 10))

enter the first number =5
False
True
False

In [ ]:
#q5 Check the identity of variables.
num1 = int(input("enter the first number ="))
num2 = int(input("enter the second number ="))
print(num1 is num2)
print(num1 is not num2)

enter the first number =12
enter the second number =34
False
True

In [ ]:
#q6 Perform bitwise operations on any two integers.
num1 = int(input("enter the first number ="))
num2 = int(input("enter the second number ="))

print(num1 and num2)
print(num1 or num2)
print(not(num1 and num2))

enter the first number =4
enter the second number =6
6
4
False

In [ ]:
#q7 Use unary operators to change the sign of a number.

j = 3
print(-j)

-3

In [ ]:
#q8  Use the ternary operator to assign values based on conditions.

age = 18;
if age<18:
  print("minor")
else:
  print("adult")

adult